<header>
    <img src={{mainLogo}} alt="Axium" class="logo-main">
    <div class="search">
        <img src={{searchIcon}} alt="Search Bar" class="search-icon">
        <input type="text" placeholder="SEARCH FOR GEAR" class="search-box"/>
    </div>
    <nav class="header-links">
        <a class="fbSocial" href="#"><img src={{fbIcon}} alt="Facebook"/></a>
        <a class="twitterSocial" href="#"><img src={{twitterIcon}} alt="Twitter"/></a>
        <a href="#">My Account</a> |
        <a href="#">Cart</a> |
        <a href="#">Logout</a>
    </nav>
</header>