<footer>
    <div class="header-top">
        <img src="assets/images/axiom-logo-small.png" alt="Axium" class="logo-small">

        <nav class="nav-links">
          <a class="account" href="#">About us</a> |
          <a class="account" href="#">Contact Us</a> |
          <a class="account" href="#">Privacy Policy</a> |
          <a class="cart" href="#">Terms of Service</a> |
          <a class="logout" href="#">Site Map</a>
          <a class="socials" href="#"><img src="assets/images/fb-icon.png" alt="Facebook"/></a>
          <a class="socials" href="#"><img src="assets/images/twitter-icon.png" alt="Twitter"/></a>
        </nav>
      </div>
</footer>