.product-section {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 500px auto 300px;
    color: #eeeff0;
}
.product-top-section-background {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: center;
    overflow: hidden;
    z-index: -1;
    box-shadow: 0 4px 4px #5e5e5e;
}
.product-top-section-background img {
    max-width: 100%;
    height: auto;
}
.product-top-section-blur{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    align-self: center;
    background: #000000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: relative;
    height: 500px;
    z-index: -1;
}
.product-top-section-img{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
}
.product-top-section-img img {
    zoom: 70%;
}
.product-top-section-img div {
    position: relative;
    top: -40px;
    left: -47px;
    font-size: 100%;
}
.product-top-section-img div a:first-child {
    text-decoration: underline;
}
.product-top-section-info {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    list-style: none;
}
.product-top-section-info h2 {
    font-size: 2em;
}
.product-bottom-section-background {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    background-color: #88898a;
    z-index: -2;
}
.product-bottom-section-img {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    align-self: start;
    padding-top: 17px;
    zoom: 80%;
}
.product-bottom-section-story {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    padding: 10px 4vw 15vmin 10vmin;
    line-height: 150%;
}
.product-bottom-section-story p {
    padding-bottom: 10px;
}
.product-review-section-background {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    background-color: #03334e;
}
.product-review-section {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    align-self: center;
    background-color: #03334e;
    width: 100%;
    height: 300px;
}

@media screen and (max-width: 1270px) {
    .product-bottom-section-img {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        zoom: 50%;
    }
    .product-bottom-section-story {
        padding: 10px 1vw 1vmin 1vmin;
    }
}