<nav class="nav-bar">
  <div class="nav-bar-links">
    <a href="#" class="nav-link">Camping <i class="glyphicon glyphicon-menu-down" aria-hidden="true"></i></a> |
    <a href="#" class="nav-link dropbtn">Clothing <i class="glyphicon glyphicon-menu-down" aria-hidden="true"></i></a> |
      <!-- <div class="dropdown-content">
          <a href="#">Outerwear</a>
          <a href="#">Hiking Shoes / Boots</a>
          <a href="#">Gloves</a>
          <a href="#">Hats</a>
      </div> -->

    <a href="#" class="nav-link">Fishing <i class="glyphicon glyphicon-menu-down" aria-hidden="true"></i></a> |
    <a href="#" class="nav-link">Hiking <i class="glyphicon glyphicon-menu-down" aria-hidden="true"></i></a> |
    <a href="#" class="nav-link">Biking <i class="glyphicon glyphicon-menu-down" aria-hidden="true"></i></a>
  </div>
</nav>